<nav>
    <div class="nav-wrapper cyan darken-1">
        <a href="#" class="brand-logo">Saved Articles</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/savedarticles">Saved Articles</a></li>
        </ul>
    </div>
</nav>
<div id="image-container">
    <div class="text">NewScraper</div>
</div>
<div class="container-fluid article-container"></div>

<footer class="footer">
    <div class="container">Mongo News Scraper</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../public/assets/javascript/saved.js"></script>